DOMAIN=<your sites full domain name>
CERTBOT_EMAILS=<Your email address>
CERTBOT_TEST_CERT=<1 for testing 0 for prod>
#example for test:
#CERTBOT_TEST_CERT=1
CERTBOT_RSA_KEY_SIZE=4096
COMPOSE_PROJECT_NAME=<docker compose project name>
# Wordpress settings
MYSQL_ROOT_PASSWORD=<PASSWORD>
MYSQL_DATABASE=wordpress
MYSQL_USER=mysqladmin
MYSQL_PASSWORD=<PASSWORD>
WORDPRESS_DB_HOST=db
WORDPRESS_DB_USER=mysqladmin
WORDPRESS_DB_PASSWORD=<PASSWORD>
WORDPRESS_DB_NAME=wordpress